{% load static %}
<footer id="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h6 class="mt-3"><a href="/">ABRAR SHOP</a></h6>
        <a href="/shop/">Shop All Products</a>
        <a href="/accounts/signup/">Create Account</a>
        <a href="/accounts/login/">Customer Login</a>
        <a href="/admin/">Admin Panel</a>
      </div>
      <div class="col-sm-3">
        <h6 class="mt-3"><a href="/">Support</a></h6>
        <a href="/order-summary/">Order Summary</a>
        <a href="/checkout/">Checkout</a>
        <a href="/request-refund/">Request Refund</a>
        <a href="/accounts/password/reset/">Reset Password</a>
      </div>
      <div class="col-sm-3">
        <h6 class="mt-3"><a href="/">Company</a></h6>
        <a href="{% url 'core:about-us' %}">About Us</a>
        <a href="{% url 'core:shipping-policy' %}">Shipping Policy</a>
        <a href="{% url 'core:terms-of-service' %}">Terms of Service</a>
        <a href="{% url 'core:privacy-policy' %}">Privacy Policy</a>
      </div>
      <div class="col-sm-3">
        <h6 class="mt-3"><a href="/">Contact</a></h6>
        <a href="mailto:abrar@example.com">abrar@example.com</a>
        <a href="/">Dhaka, Bangladesh</a>
        <a href="/" class="ico"><i class="fab fa-facebook"></i> Facebook</a>
        <a href="/" class="ico"><i class="fab fa-instagram"></i> Instagram</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <a href="#" style="margin-left:0">&copy; Abrar Shop. All rights reserved.</a>
      </div>
    </div>
  </div>
</footer>
